*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: #d0d0d0;
}

.Comprador{
    width: 10%;
    display: flex;
    justify-content: center;
    flex-basis: 48%;
    font-size: 17px;
    background-color: #04bd7d;
    color: #ffffff;
    height: 30px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    align-items: center;
}

/*Detalles del Producto */
.Pago{
    text-align: center;
    margin-top: 70px;
    font-size: 25px;
}
.product-details{
    width: 400px; 
    background: #24303c; 
    padding: 30px; 
    margin: auto; 
    margin-top: 70px;
    border-radius: 4px; 
    font-family: Arial, Helvetica, sans-serif; 
    color: white; 
    box-shadow: 7px 13px 37px #ffffff;
    border-radius: 10px
}
.product-details h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}
.product-details p{
    margin: 12px;
    font-size: 20px;
    text-align: center;
}

/*informacion de pago*/

.payment-form{
    width: 400px; 
    background: #24303c; 
    padding: 30px; 
    margin: auto; 
    margin-top: 70px;
    border-radius: 4px; 
    font-family: Arial, Helvetica, sans-serif; 
    color: white; 
    box-shadow: 7px 13px 37px #ffffff;
    border-radius: 10px
}

.payment-form h2{
    margin-bottom: 20px;
    font-size: 30px;
}
.form-pago{
    background-color: #515966;
    margin: 15px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    transition: max-height 0.5s;
    overflow: hidden;
    text-align: center;
}

input::placeholder{
    color: #ffffff;
    text-align: center;
}

.FechaPago{
    background-color: #515966;
    margin: 15px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    transition: max-height 0.5s;
    overflow: hidden;
    text-align: center;
    align-items: center;
}
.FechaPago p{
    font-size: 14px;
    text-align: center;
    align-items: center;
}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
    padding: 18px 15px;
    color: #ffffff;
    text-align: center;
    align-items: center;
}

.pagar{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-basis: 48%;
    font-size: 17px;
    background-color: #04bd7d;
    color: #ffffff;
    height: 50px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    align-items: center;

}